    <%- include('partials/header') %>
    <div id="signup-form">
        
    <h4>Sign up</h4>
    <hr>

   <div id="signup-error"></div>

    <form action="/signup" method="POST">
        <label for="email">Email address :</label>
        <input type="email" name="useremail" placeholder="enter your email" class="form-control" id="signupemail" aria-describedby="emailHelp" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <label for="password">Password :</label>
        <input type="password" name="password" placeholder="password" class="form-control" id="signuppassword" required>
        <label for="name">Organisation Name :</label>
        <input type="name" id="orgname" name="orgname" placeholder="Enter your company name" class="form-control">
        <label for="number">Mobile number :</label>
        <input type="number" id="mobilenumber" name="mobilenumber" placeholder="Enter your phone number" class="form-control">

        <br>
        <button type="submit" onclick="signup()" class="btn btn-primary" id="signupbutton">Sign up</button>
    </form>
    <br>
    <br>

    <div class="card">
      <div class="card-body">
        <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
          <i class="fab fa-google"></i>
          Sign Up with Google
        </a>
      </div>
    </div>

    </div>